body {
  font-family: sans-serif;
  padding: 20px;
  width: 300px;
  margin: auto;
  background-color: #0e3c00;
  color: white;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

span.label-text {
  color: white;
  margin-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label.switch + .label-text {
  display: inline-block;
  vertical-align: middle;
}
